<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" mode="ios" (click)="closeModal()">
          <ion-icon name="chevron-back" size="25"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <ion-row style="padding: 15px;">
      <ion-col size="8">
        <div *ngIf="cowFrom?.controls['gender'].value" style="height: 25px; width: 80px; background-color: #d6fad6; text-align: center; border-radius: 15px;">
          <span style="font-size: 12px; color: green;">{{cowFrom?.controls['gender'].value}}</span>
        </div>

        <h3>Nouvel animal</h3>
      </ion-col>

      <ion-col size="4">
        <ion-card button="" (click)="pickImage()">
          <img *ngIf="croppedImage" style="border-radius: 15px;" [src]="croppedImage">
          <img *ngIf="!croppedImage" style="border-radius: 15px;" [src]="'assets/img/photo.png'">
        </ion-card>
        <input #imagePicker hidden="" type="file" (change)="fileChangeEvent($event)" />
      </ion-col>
    </ion-row>

    <div *ngIf="imageChangedEvent">
     <ion-row>
       <ion-col size="10"></ion-col>
       <ion-col size="2" class="ion-text-right">
         <ion-button (click)="ckeckImage()" style="--border-radius: 50%; height: 40px; width: 40px;" class="ion-no-padding">
           <ion-icon size="40" name="checkbox"></ion-icon>
         </ion-button>
       </ion-col>
     </ion-row>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="3 / 3"
        format="png"
        (imageCropped)="imageCropped($event)"
      ></image-cropper>
    </div>
  </div>

  <div style="padding: 15px;">
    <div [formGroup]="cowFrom">
<!--      <ion-item>-->
<!--        <ion-label position="floating">ID</ion-label>-->
<!--        <ion-input type="number" formControlName="id"></ion-input>-->
<!--      </ion-item>-->

      <ion-item>
        <ion-label position="floating">Gender</ion-label>
              <ion-select label-placement="floating" formControlName="gender" aria-label="Gender" interface="action-sheet">
                <ion-select-option value="Sir">Sir</ion-select-option>
                <ion-select-option value="Dame">Dame</ion-select-option>
              </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Insemination Cost</ion-label>
        <ion-input (ionInput)="getinseminationCost($event)" type="number" formControlName="inseminationCost"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Insemination Date</ion-label>
        <ion-input type="date" formControlName="inseminationDate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Calving Date</ion-label>
        <ion-input type="date" formControlName="calvingDate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Feed</ion-label>
        <ion-input type="number" formControlName="feed"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Vet Cost</ion-label>
        <ion-input type="number" formControlName="vetCost"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Milk Production</ion-label>
        <ion-input type="number" formControlName="milkProduction"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Milk Price</ion-label>
        <ion-input type="number" formControlName="milkPrice"></ion-input>
      </ion-item>

    </div>

    <div>
      <ion-button (click)="saveOrUpdata()" expand="block" shape="round">
        Save Cow
        <ion-icon style="margin-left: 10px;" name="save"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
