<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
        <ion-button fill="clear" mode="ios" (click)="closeModal()">
          <ion-icon name="chevron-back" size="25"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <ion-row style="padding: 15px;">
      <ion-col size="8">
        <div *ngIf="cowFrom?.controls['gender'].value" style="height: 25px; width: 80px; background-color: #d6fad6; text-align: center; border-radius: 15px;">
          <span *ngIf="cowFrom?.controls['gender'].value == 'Taureau'" style="font-size: 12px; color: green;">{{"GAMOU.TAUREAU" | translate}}</span>
          <span *ngIf="cowFrom?.controls['gender'].value == 'Génisse'" style="font-size: 12px; color: green;">{{"GAMOU.GENISSE" | translate}}</span>
        </div>

        <h5 *ngIf="!data">{{ "GAMOU.NEWANIMAL" | translate }}</h5>
        <h5 *ngIf="data">{{ "GAMOU.UPDATEANIMAL" | translate}} {{data?.identification}} </h5>
      </ion-col>

      <ion-col size="4">
        <ion-button (click)="deleteImage()" *ngIf="imageFile && imageChangedEvent == null" style="position: absolute; z-index: 10; top: -25%; right: -10%;" fill="clear" mode="ios">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
        <ion-card button="" (click)="pickImage()">
          <img *ngIf="croppedImage" style="border-radius: 15px;" [src]="croppedImage">
          <img *ngIf="data && data.imagePath && !croppedImage" style="border-radius: 15px;" [src]="apiService.makeDownloadImage(data.imagePath)">
          <img *ngIf="!croppedImage && !data" style="border-radius: 15px;" [src]="'assets/img/photo.png'">
          <img *ngIf="data && !data.imagePath && !croppedImage" style="border-radius: 15px;" [src]="'assets/img/photo.png'">
        </ion-card>
        <input #imagePicker hidden="" type="file" (change)="fileChangeEvent($event)" />
      </ion-col>
    </ion-row>

    <div *ngIf="imageChangedEvent">
     <ion-row>
       <ion-col size="8"></ion-col>
       <ion-col size="4" class="ion-text-right">
         <ion-button (click)="ckeckImage()" style="--border-radius: 50%; height: 40px; width: 40px;" class="ion-no-padding">
           <ion-icon size="40" name="checkbox"></ion-icon>
         </ion-button>
       </ion-col>
     </ion-row>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="3 / 3"
        format="png"
        (imageCropped)="imageCropped($event)"
      ></image-cropper>
    </div>
  </div>

  <div style="padding: 15px;">
    <div [formGroup]="cowFrom">
     <ion-row>
       <ion-col style="margin-top: 20px;" size="4" class="ion-no-padding ion-no-margin">
         <img src="assets/img/icons/numero.jpeg">
       </ion-col>
       <ion-col size="8">
         <ion-item>
           <ion-label position="floating">Identification</ion-label>
           <ion-input type="text" formControlName="identification"></ion-input>
         </ion-item>
       </ion-col>
     </ion-row>

      <ion-row>
        <ion-col style="margin-top: 20px;" size="4" class="ion-no-padding ion-no-margin">
          <img *ngIf="!cowFrom.get('gender').value" src="assets/img/icons/genre.png">
          <img *ngIf="cowFrom.get('gender').value && cowFrom.get('gender').value == 'Taureau'" src="assets/img/icons/papa.jpeg">
          <img *ngIf="cowFrom.get('gender').value && cowFrom.get('gender').value == 'Génisse'" src="assets/img/icons/mama.jpeg">
        </ion-col>
        <ion-col size="8">
          <ion-item id="open-modal">
            <ion-label>
              <p style="color: black">{{ "GAMOU.GENDER" | translate}}</p>
              <h2 *ngIf="cowFrom.get('gender').value == 'Taureau'">{{"GAMOU.TAUREAU" | translate}}</h2>
              <h2 *ngIf="cowFrom.get('gender').value == 'Génisse'">{{"GAMOU.GENISSE" | translate}}</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

<!--      GENDER MODAL-->
            <ion-modal #genderModal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
              <ng-template>
                <ion-item (click)="chooseGender('Taureau')" button>
                  <ion-thumbnail slot="start">
                    <img src="assets/img/icons/papa.jpeg" />
                  </ion-thumbnail>
                  <ion-label>{{ "GAMOU.TAUREAU" | translate }}</ion-label>
                </ion-item>

                <ion-item (click)="chooseGender('Génisse')" button lines="none">
                  <ion-thumbnail slot="start">
                    <img src="assets/img/icons/mama.jpeg" />
                  </ion-thumbnail>
                  <ion-label>{{ "GAMOU.GENISSE" | translate }}</ion-label>
                </ion-item>
              </ng-template>
            </ion-modal>
<!--          END GENDER MODAL-->

      <ion-row>
        <ion-col size="4">
          <img src="assets/img/icons/papa.jpeg">
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-label position="floating">{{ "GAMOU.GENITEUR" | translate}}</ion-label>
            <ion-input type="text" formControlName="genitor"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <img src="assets/img/icons/mama.jpeg">
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-label position="floating">{{ "GAMOU.GENITRICE" | translate }}</ion-label>
            <ion-input type="text" formControlName="genitrice"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col size="4">
        <img src="assets/img/icons/insemination_jour.png">
      </ion-col>
      <ion-col size="8">
        <ion-item button (click)="chooseInseminationDate()">
          <ion-label  *ngIf="!inseminationDate" class="labelEl">
            {{"GAMOU.DATEINSEMINATION" | translate}}
          </ion-label>
          <ion-label *ngIf="inseminationDate" position="floating" class="labelEl">
            {{"GAMOU.DATEINSEMINATION" | translate}}
          </ion-label>
          <ion-input *ngIf="inseminationDate" readonly="" [value]="inseminationDate | date: 'dd/MM/yyyy'"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

     <ion-row>
       <ion-col size="4">
         <img src="assets/img/icons/insemination_cout.png">
       </ion-col>
       <ion-col size="8">
         <ion-item>
           <ion-label position="floating">
             {{"GAMOU.COUTINSEMINATION" | translate}}
           </ion-label>
           <ion-input (ionInput)="getinseminationCost($event)" type="number" formControlName="inseminationCost"></ion-input>
         </ion-item>
       </ion-col>
     </ion-row>

    <ion-row>
      <ion-col size="4">
        <img src="assets/img/icons/velage_jour.png">
      </ion-col>
      <ion-col size="8">
        <ion-item button (click)="chooseCalvingDate()">
          <ion-label  *ngIf="!calvingDate" class="labelEl">
            {{"GAMOU.DATEVELAGE" | translate}}
          </ion-label>
          <ion-label *ngIf="calvingDate" position="floating" class="labelEl">
            {{"GAMOU.DATEVELAGE" | translate}}
          </ion-label>
          <ion-input *ngIf="calvingDate" readonly="" [value]="calvingDate | date: 'dd/MM/yyyy'"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

   <ion-row>
     <ion-col size="4">
       <img src="assets/img/icons/aliment_cout.png">
     </ion-col>
     <ion-col size="8">
       <ion-item>
         <ion-label position="floating">
           {{"GAMOU.COUTSALIMANENTBETAIL" | translate}}
         </ion-label>
         <ion-input type="number" formControlName="feed"></ion-input>
       </ion-item>
     </ion-col>
   </ion-row>

    <ion-row>
      <ion-col size="4">
        <img src="assets/img/icons/vet_cout.png">
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">
            {{"GAMOU.COUTSVETERINAIRE" | translate}}
          </ion-label>
          <ion-input type="number" formControlName="vetCost"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <img src="assets/img/icons/lait_kg.png">
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">
            {{"GAMOU.PRODUCTIONLAIT" | translate}}
          </ion-label>
          <ion-input type="number" formControlName="milkProduction"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <img src="assets/img/icons/litre_prix_vent.png">
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">
            {{"GAMOU.PRIXLAIT" | translate}}
          </ion-label>
          <ion-input type="number" formControlName="milkPrice"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    </div>

    <div>
      <ion-button [disabled]="saving == true || cowFrom.invalid" (click)="saveSeed()" expand="block" shape="round">
        {{ "GAMOU.SAVE" | translate}}
        <ion-icon style="margin-left: 10px;" name="save"></ion-icon>
        <ion-spinner *ngIf="saving == true" style="margin-left: 20px;" name="crescent"></ion-spinner>
      </ion-button>
    </div>
  </div>
</ion-content>
