<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" mode="ios" (click)="closeModal()">
          <ion-icon name="chevron-back" size="25"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <ion-row style="padding: 15px;">
      <ion-col size="8">
        <div style="height: 25px; width: 80px; background-color: #d6fad6; text-align: center; border-radius: 15px;">
          <span style="font-size: 12px; color: green;">Cop</span>
        </div>

        <h3>ID ITEM TO SAVE</h3>
      </ion-col>

      <ion-col size="4">
        <img style="border-radius: 15px;" src="assets/img/corn.png">
      </ion-col>
    </ion-row>
  </div>

  <div style="padding: 15px;">
    <div [formGroup]="seedFrom">
      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input type="number" formControlName="id"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Area</ion-label>
        <ion-input type="number" formControlName="area"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Crop</ion-label>
        <ion-input type="text" formControlName="crop"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Seed Cost</ion-label>
        <ion-input type="number" formControlName="seedCost"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fertilizer Cost 1</ion-label>
        <ion-input type="number" formControlName="fertilizerCost1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fertilizer Cost 2</ion-label>
        <ion-input type="number" formControlName="fertilizerCost2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cerbicide Cost</ion-label>
        <ion-input type="number" formControlName="herbicideCost2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Labor Cost</ion-label>
        <ion-input type="number" formControlName="laborCost2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Yield</ion-label>
        <ion-input type="number" formControlName="yield"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Sale Price</ion-label>
        <ion-input type="number" formControlName="salePrice"></ion-input>
      </ion-item>

    </div>

    <div>
      <ion-button (click)="saveOrUpdata()" expand="block" shape="round">
        Save Seed
        <ion-icon style="margin-left: 10px;" name="save"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
