ion-input {
  margin-bottom: 20px;
}
ion-content {
  --ion-background-color: #dbfcdb;
}
ion-input {
  background-color: #ffff;
}
ion-card, ion-item {
  --ion-background-color: #ffff;
}
ion-card {
  border-radius: 15px;
}
