<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="closeDetail()" color="primary" fill="clear" mode="ios">
      <ion-icon name="chevron-back" size="25"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-row style="padding: 15px;">
      <ion-col size="8">
        <div style="height: 25px; width: 80px; background-color: #d6fad6; text-align: center; border-radius: 15px;">
          <span style="font-size: 12px; color: green;">{{farm?.crop}}</span>
        </div>

        <h3>ID: {{farm?.identification}}
        </h3>
        <ion-button (click)="goToAdd(farm)" mode="ios">
          <ion-icon size="40" name="create"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <img *ngIf="farm.imagePath" style="border-radius: 15px;" [src]="apiService.makeDownloadImage(farm.imagePath)">
        <img *ngIf="!farm.imagePath" style="border-radius: 15px;" src="assets/img/graine.jpg">
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-card mode="ios">
      <ion-row>
        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Superficie</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.area}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="calendar-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts sémences</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.seedCost}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="calendar-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts engrais par hectare</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.fertilizerCost1}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="calendar-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts main d'oeuvre par hectare</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.fertilizerCost2}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="calendar-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts irrigation par hectare</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.irrigationCost}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="calendar-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts divers</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.diverseCost}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="calendar-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coût total</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{getExpense(farm)}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="heart-circle-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Rendement/kg/hectare</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.yield}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="heart-circle-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Prix marché du céréale au kg</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.marketPriceCereals}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="heart-circle-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Revenue Totale à l'hectare</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{getIncome(farm)}}</span>
        </ion-col>



        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Profit</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{getProfitValue(farm)}}</span>
        </ion-col>




        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts labour par hectar</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.laborCost2}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts semi par hectare</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{farm?.semiCost}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Profits champs</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{getProfitValue(farm)}}</span>
        </ion-col>

      </ion-row>
    </ion-card>
  </div>

  <div>
    <!--    <ion-card>-->
    <!--      <ion-item>-->
    <!--        <ion-label position="floating"></ion-label>-->
    <!--        <ion-icon slot="start" name="person"></ion-icon>-->
    <!--        <ion-input></ion-input>-->
    <!--      </ion-item>-->
    <!--    </ion-card>-->
  </div>
</ion-content>
