<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="closeDetail()" color="primary" fill="clear" mode="ios">
      <ion-icon name="chevron-back" size="25"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-row style="padding: 15px;">
      <ion-col size="8">
        <div style="height: 25px; width: 80px; background-color: #d6fad6; text-align: center; border-radius: 15px;">
          <span style="font-size: 12px; color: green;">{{cow?.gender}}</span>
        </div>

        <h3>ID: {{cow?.identification}}
        </h3>
        <ion-button (click)="goToAdd(cow)" mode="ios">
          <ion-icon size="40" name="create"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <img style="border-radius: 15px;" [src]="apiService.makeDownloadImage(cow.imagePath)">
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-card mode="ios">
      <ion-row>
        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Géniteur</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{cow?.genitor}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="calendar-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Date insemination</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{cow?.inseminationDate | date: 'yyyy/MM/dd'}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts insemination</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{cow?.inseminationCost}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="calendar-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Date vêlage</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{cow?.calvingDate | date: 'yyyy/MM/dd'}}</span>
        </ion-col>






        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Profit</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{getProfitValue(cow)}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Dépenses</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;"> {{getExpense(cow)}} </span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Revenu</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{getIncome(cow)}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="heart-circle-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts aliment bétail</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{cow?.feed}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Coûts vétérinaire</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{cow?.vetCost}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="flask-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Production laitière/kg/jour</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{cow?.milkProduction}}</span>
        </ion-col>

        <ion-col class="ion-text-center" size="4">
          <ion-icon name="cash-outline" size="25" color="success"></ion-icon> <br>
          <span style="font-size: 12px;">Prix du lait</span> <br>
          <span style="color: black; font-size: 12px; font-weight: bold;">{{cow?.milkPrice}}</span>
        </ion-col>

      </ion-row>
    </ion-card>
  </div>

  <div>
<!--    <ion-card>-->
<!--      <ion-item>-->
<!--        <ion-label position="floating"></ion-label>-->
<!--        <ion-icon slot="start" name="person"></ion-icon>-->
<!--        <ion-input></ion-input>-->
<!--      </ion-item>-->
<!--    </ion-card>-->
  </div>
</ion-content>
