ion-content {
  --ion-background-color: #dbfcdb;
}
.loginCard {
  --ion-background-color: white;
}

.home-container .row-center .loginCard {
  position:absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  top:50%;
  transform:translateY(-50%);
}
.loginCard {
  width: 300px;
}
