<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" mode="ios" (click)="closeModal()">
          <ion-icon name="chevron-back" size="25"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-title style="margin-top: 20px;">Learning</ion-title>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <iframe *ngFor="let video of videos" width="420" height="200"
            [src]="_sanitizer.bypassSecurityTrustResourceUrl(getVideoPath(video.videoPath))">
    </iframe>

  </div>
</ion-content>
