

<ion-content [fullscreen]="true">
  <div class="superMain bgImage" style="background-image: url('assets/img/farm.png')">

  </div>

<div style="text-align: center; margin-top: 30px; color: white;">
  <div style="font-weight: bold; font-size: 40px;">Gamou</div>
  <div style="margin-top: 15px;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  </div>
</div>

  <div style="padding: 10px;">
    <ion-button (click)="goToHome()" mode="ios" color="success" expand="block" shape="round">Commencez</ion-button>
  </div>
</ion-content>
