.main {
  height: 150px;
  background-color: #116232;
}

.oval {
  height: 150px;
  background-color: #116232;
  border-radius: 25%;
}

ion-content {
  --ion-background-color: #116232;
}
.inputCard {
  --ion-background-color: white;
}
.formLogin {
  margin-top: 40px;
}
