

<ion-content [fullscreen]="true">
  <div style="margin: 30px;" class="superMain bgImage ion-text-center">
    <img style="height: 150px; border-radius: 10px;" src="assets/img/LOGO.jpeg">
  </div>

<!--  <div style="text-align: center; margin-top: 30px; color: white;">-->
<!--    <div style="font-weight: bold; font-size: 40px;">Gamoo</div>-->
<!--  </div>-->

  <div class="formLogin" [formGroup]="farmerForm">
    <ion-card class="inputCard">
      <ion-item>
        <ion-icon name="person" color="primary" slot="start"></ion-icon>
        <ion-label position="floating">Prénom et nom</ion-label>
        <ion-input formControlName="fullName"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="inputCard first">
      <ion-item>
        <ion-icon name="call" color="primary" slot="start"></ion-icon>
        <ion-label position="floating">Téléphone</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="inputCard">
      <ion-item>
        <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
        <ion-icon *ngIf="passType == 'password'" (click)="showPass()" name="eye" color="primary" slot="end"></ion-icon>
        <ion-icon *ngIf="passType == 'text'" (click)="showPass()" name="eye-off" color="primary" slot="end"></ion-icon>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input [type]="passType" formControlName="password"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="inputCard">
      <ion-item>
        <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
        <ion-icon *ngIf="passConfType == 'password'" (click)="showPassConf()" name="eye" color="primary" slot="end"></ion-icon>
        <ion-icon *ngIf="passConfType == 'text'" (click)="showPassConf()" name="eye-off" color="primary" slot="end"></ion-icon>
        <ion-label position="floating">Conf. Mot de passe</ion-label>
        <ion-input [type]="passConfType" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div *ngIf="farmerForm['controls']['confirmPassword']['errors'] && farmerForm['controls']['confirmPassword']['errors']['mismatchedPasswords']">
        <div style="color: red;">Les mots de passe ne correspondent pas!</div>
      </div>
    </ion-card>
  </div>

  <div style="padding: 10px;">
    <ion-button [disabled]="creating == true || farmerForm.invalid" (click)="siginup()" mode="ios" color="success" expand="block" shape="round">S'inscrire
      <ion-spinner *ngIf="creating == true" name="crescent" style="margin-left: 10px;"></ion-spinner></ion-button>
  </div>
</ion-content>
