<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" mode="ios" (click)="closeModal()">
          <ion-icon name="chevron-back" size="25"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-title style="margin-top: 20px;">Panier</ion-title>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let pan of prodQties; let i=index">
    <ion-row>
      <ion-col size="7">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img style="border-radius: 10px;" alt="Prod image" [src]="productService.makeDownloadImage(pan?.product?.imagePath)" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{pan?.product?.name}}</h2>
            <p style="color: var(--ion-color-primary)">
              <b>{{pan?.product?.price * pan?.qty}} FCFA</b>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-row>
          <ion-col class="ion-no-margin ion-no-padding" size="4">
            <ion-button (click)="decrease(i)" size="full" class="ion-no-margin ion-no-padding">-</ion-button>
          </ion-col>
          <ion-col class="ion-no-margin ion-no-padding" size="4">
            <ion-button color="light" size="full" class="ion-no-margin ion-no-padding">{{pan?.qty}}</ion-button>
          </ion-col>
          <ion-col class="ion-no-margin ion-no-padding" size="4">
            <ion-button (click)="increase(i)" size="full" class="ion-no-margin ion-no-padding">+</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="deleteProd(i)" color="danger" mode="ios" fill="clear">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-title style="margin-top: 20px; margin-bottom: 30px;"><b>Total: {{totalPrice * totalQty}} FCFA</b></ion-title>
  <ion-item-divider></ion-item-divider>



</ion-content>

<ion-toolbar>
  <ion-footer>


    <ion-row>
      <ion-title>Mode de paiement</ion-title>
      <ion-col size="6">
        <ion-button (click)="goToPay()"  expand="block" mode="ios">Comptant</ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block"  mode="ios" color="secondary">À la livraison</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-toolbar>
